<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WAnoHTTPS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    @* i added these 7 lines *@
    <script src="~/js/site.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>

    @* these 3 lines are here inorder for: JQuery Unobtrusive validation*@
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <link href="~/css/myStyleSheet.css" rel="stylesheet" />
    @* / i added these 7 lines *@

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WAnoHTTPS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        @if (User.Identity.IsAuthenticated == false)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark " asp-area="" asp-controller="Account" asp-action="Register">ثبت نام</a>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (User.Identity.Name == "elm0098@protonmail.com")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark " asp-area="" asp-controller="UniqueUser" asp-action="Insert">اضافه کردن</a>
                                </li>
                            }
                            @inject UserManager<WAnoHTTPSUser> EalfaTestUserManager;
                            WAnoHTTPSUser appuser = await EalfaTestUserManager.FindByNameAsync(User.Identity.Name);
                            <li class="nav-item">
                                <a class="nav-link text-dark ">@($"({appuser.FirstName } - {appuser.LastName })")</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark " asp-area="" asp-controller="Account" asp-action="Logout">خروج</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark " asp-area="" asp-controller="Account" asp-action="Login">ورود</a>
                            </li>
                        }

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - WAnoHTTPS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    @if (TempData["msg"] != null)
    {
        <div class="modal fade" id="divmodalShowMessage">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color:orange">
                        <h3>پیام سیستمی</h3>
                    </div>
                    <div class="modal-body">
                        <label>@TempData["msg"]</label>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-warning" data-dismiss="modal">ok</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(function () {
                $(divmodalShowMessage).modal();
            })
        </script>
    }

</body>
</html>
